<div class="eo">
<mat-form-field appearance="fill" >
  <mat-label>Select me</mat-label>
  <mat-select name="miselect" [(ngModel)]="poke">
    <mat-option [value]="pokemon" *ngFor="let pokemon of listadoPokemon">
      {{ pokemon.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-card
  style="
    background-color: skyblue;
    width: max-content;
    padding: 30px;
    margin: 2em;
  "
>
  <mat-card-title>{{ poke != null ? poke.name : "" }}</mat-card-title>

  <img
    [src]="mostrarImagen(poke != null ? poke.url : '')"
    width="300px"
    height="300px"
  />
</mat-card>
</div>